<a href="https://colab.research.google.com/github/osh9149/2021_2_cs/blob/main/for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

반복문 for 변수 in range(시작값,끝값,증감):  #끝값은 끝나는 값에 1을 더해줌

In [ ]:
for x in range(1,11,2):
    print(x)

1
3
5
7
9

In [ ]:
for x in range(1,101):
    if x%2==1:
        print(x,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

연습문제. 1부터 100까지 수 중에서 짝수만 출력하세요

연습문제. 1부터 100까지 모두 더한값을 출력하세요.

In [1]:
sum=0
for x in range(1,1001):
     sum=sum+x
print(sum)

500500

연습문제.1부터 n까지 더한 값을 출력하세요.

In [ ]:
for i in range(1,11):
    print('@' * i)

In [ ]:
n=int(input())
for i in range(1,n+1):
    print('@' * i)

In [ ]:
n=int(input())
for i in range(n,0,-1):
    print('@' * i)